<!DOCTYPE html>
<html lang="<%= h(channel.language) %>">
<head>
  <% debugger %>
	<meta charset="utf-8"/>
	<title><%= h(channel.title) %> - <%= h(tag.title) || h(tag2.TIT2) %></title>
	<meta name="generator" content="Dropcaster <%= Dropcaster::VERSION%>"/>
  <% unless keywords.blank? %>
	<meta name="keywords" content="<%= keywords.map{|k| h(k)}.join(', ') %>"/>
  <% end %>
  <% unless channel.copyright.blank? %>
	<meta name="copyright" content="<%= h(channel.copyright) %>"/>
  <% end %>
  <link rel="canonical" href="<%= h(url) %>"/>
  <link rel="alternate" type="application/rss+xml" title="<%= h(channel.title) %> Podcast Feed" href="<%= h(channel.url) %>">
</head>

<body id="home">
    <h1><%= h(tag.title) || h(tag2.TIT2) %></h1>
  <% unless tag2.SUBTITLE.blank? %>
    <h2><%= h(tag2.SUBTITLE) %></h2>
  <% end %>
  <% unless tag2.TT3.blank? %>
    <p><%= h(tag2.TT3) %></p>
  <% end %>
    <img src="<%= image_url %>"/>
  <% lyrics.each do |lang, text| %>
    <p lang="<%= lang %>">
      <%= text %>
    </p>
  <% end %>
    <p>Download: <a href="<%= url %>">MP3</a> (<%= Dropcaster.humanize_time(duration.to_i) %>, <%= Dropcaster.humanize_size(file_size) %>)</p>
    <p>Published <%= h(pub_date.to_formatted_s(:rfc822)) %></p>
  <% unless keywords.blank? %>
    <p><%= keywords.map{|k| h(k)}.join(',') %></p>
  <% end %>
</body>
</html>
